<div class="jumbotron">
  <p class="lead">
    Now let's create an Action Scenario template
  </p>
  <p>
    <form name="getInfo" novalidate>
      <label>What is the template name?
          <input type="text" ng-model="data.name" ng-minlength="2" ng-maxlength="256" ng-pattern='/^[^\\\/\?\:\*"><|]+$/' required validator="isTemplateTitleUnique" error-type="isUnique" >
      </label>
      <div class="alert alert-danger" id="alert" ng-show="getInfo.$error.isUnique" role="alert">
          The template name &quot;{{data.name}}&quot; has been taken. Please choose another name.
        </div>
    </form>
  </p>
  <p><a class="btn btn-lg btn-success" id="submitButton" ng-disabled="getInfo.$invalid || getInfo.$pristine" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div>
  <dl>
    <dt>Scenario Templates - Name</dt>
    <dd>As a user, I can give a name to the template</dd>
  </dl>
  <ul>
    <li>Template name is required</li>
    <li>Template name has a minimum of two characters</li>
    <li>Template name has a maximum of 256 characters</li>
    <li>Template name can not have the follwoing characters: \ / ? : * " > &lt; | </li>
<!--     <li>Template description is not required</li>
    <li>Template description has a maximum of 256 characters</li> -->
    <li>Template names should be unique.</li>
  </ul>
</div>

<div class="row marketing">
  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>

  <h4>Jasmine</h4>
  <p>A behavior-driven development framework for testing JavaScript code</p>

  <h4>Protractor</h4>
  <p>An end-to-end test framework for AngularJS applications</p>
</div>
